html, body, div {
    border:0;
    padding:0;
    margin:0;
}

#main{
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

.question{
    border: 1px solid black;
    width: 360px;
    padding:20px;
}

.answer, .frozen{
    border: 1px solid blue;
    width: 375px;
    padding:5px;
    padding-left: 20px;
}

.answer:hover{
    cursor: pointer;
}

.selected{
    background-color: aquamarine;
}


.correct{
    background-color: green;
}

.wrong{
    background-color: red;
}

.missed{
    background-color: yellow;
}

.neutral{
    background-color: inherit;
}

.body-correct{
    background-color: lightgreen;
}

.body-incorrect{
    background-color: lightpink;
}

.answer {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}